# ECR
ECR_REGISTRY={새계정ID}.dkr.ecr.ap-northeast-2.amazonaws.com

# MySQL (Docker)
DB_ROOT_PASSWORD=
DB_NAME=peektime
DB_USERNAME=
DB_PASSWORD=
DB_URL=jdbc:mysql://mysql:3306/peektime?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8

# Redis (Docker)
REDIS_HOST=redis
REDIS_PORT=6379

# Admin 연동
PROD_ADMIN_BASE_URL=http://{Admin EC2 내부 IP}
